{% load static from static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'portfolio/css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/app.js' %}">
    <title>My Website</title>
</head>

<body>

<!-- Header -->
<section id="header">
    <div class="header container">
        <div class="nav-bar">
            <div class="brand">
                <a href="about">
                    <h1><span>R</span>ui <span>R</span>odrigues</h1>
                </a>
            </div>
            <div class="nav-list">
                <div class="hamburger">
                    <div class="bar"></div>
                </div>
                {% if user.is_authenticated %}
                    <ul>
                        <li><a href="home">Home</a></li>
                        <li><a href="web">Web</a></li>
                        <li><a href="projects">Projects</a></li>
                        <li><a href="contact">Contact</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="{% url 'logout' %}">Log out</a></li>
                    </ul>
                {% else %}
                    <ul>
                        <li><a href="home">Home</a></li>
                        <li><a href="contact">Contact</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="{% url 'login' %}">Log in</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- End Header -->

<!-- body -->
<main>
    {% block content %}
    {% endblock content %}
</main>
<!-- End body -->
{% if user.is_authenticated %}
    <!-- Footer -->
    <section id="footer">
        <div class="footer container">
            <div class="brand">
                <h1><span>R</span>ui <span>R</span>odrigues</h1>
            </div>
            <h2>Projeto Programaçāo Web</h2>
            <div class="social-icon">
                <div class="social-item">
                    <a href="https://www.instagram.com/rui_rodrigz"><img src="static/portfolio/image/instagram-50.png"/></a>
                </div>
                <div class="social-item">
                    <a href="https://www.linkedin.com/in/rui-rodrigues-8a8ab08b"><img
                            src="static/portfolio/image/linkedin-50.png"/></a>
                </div>
                <div class="social-item">
                    <a href="https://www.ulusofona.pt"><img
                            src="static/portfolio/image/logo_ulht.png"/></a>
                </div>
            </div>
            <p>Copyright © 2020 Rui Rodrigues.</p>
            <p>ULHT, 2022</p>
        </div>
    </section>
    <!-- End Footer -->
{% else %}
{% endif %}
</body>