{% extends 'portfolio/layout.html' %}

{% load static %}

{% block content %}
    <!-- Projects Section -->
    <section id="projects">
        <div class="projects container">
            <div class="projects-header">
                <h1 class="section-title">Recent <span>L</span>aboratory</h1>
            </div>
            <div class="all-projects">
                {% for lab in laboratorio %}
                    <div class="project1-item">
                        <div class="project-info">
                            <h1>{{ lab.titulo }} </h1>
                            <h2>{{ lab.subtitulo }} </h2>
                            <h2><a href="{{ lab.link }}">{{ lab.disciplina }}</a></h2>
                            <p>{{ lab.texto }}</p>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Projects Section -->

{% endblock %}