{% extends 'portfolio/layout.html' %}

{% load static %}

{% block content %}
    <!-- Projects Section -->
    <section id="projects">
        <div class="projects container">
            <div class="projects-header">
                <h1 class="section-title">educaçāo <span></span></h1>
            </div>
            <div class="all-projects">
                {% for edu_content in educacao %}
                    <div class="project-item">
                        <div class="project-info">
                            <div class="icon"><img src="{{ edu_content.logo.url }}" alt=""/></div>
                            <h1>{{ edu_content.titulo }} </h1>
                            <br>
                            <h2>{{ edu_content.subtitulo }} </h2>
                            <br>
                            <p>{{ edu_content.texto }} </p>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Projects Section -->

{% endblock %}