{% extends 'portfolio/layout.html' %}

{% load static %}

{% block content %}

    <section id="projects">
        <div class="all-projects">

            <body lang=PT style='word-wrap:break-word'>

            <div class=WordSection1>
                <br><br><br>
                <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
22.5pt;margin-left:0cm;line-height:22.5pt;background:white'><b><span
                        style='font-size:15.0pt;font-family:"Open Sans",sans-serif;color:#333333'>Apresentação</span></b>
                </p>
                <p class=MsoNormal style='margin-bottom:22.5pt;background:white'><span
                        style='font-size:11.5pt;font-family:"Open Sans",sans-serif;color:#333333'>A
disciplina aborda os conceitos básicos da Física, nomeadamente os princípios da
mecânica e da electricidade.&nbsp;A disciplina está dividida em duas
partes:Parte Teórica e parte prática. Na parte teórica, apresentamos os
conceitos fundamentais da mecânica/eletricidade os quais são de
fundamentais&nbsp;na formação de um Engenheiro em geral. Na parte prática onde
resolvemos exercícios com o objetivo de sedimentar &nbsp;os conhecimentos
obtidos na parte teórica, sendo de máxima importância desenvolvimento lógico
matemático nessas resoluções.&nbsp;</span></p>

                <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
22.5pt;margin-left:0cm;line-height:22.5pt;background:white'><b><span
                        style='font-size:15.0pt;font-family:"Open Sans",sans-serif;color:#333333'>Disciplina
do Curso</span></b></p>

                <p class=MsoNormal style='margin-bottom:22.5pt;background:white'><span
                        style='font-size:11.5pt;font-family:"Open Sans",sans-serif;color:#333333'>Engenharia
Informática</span></p>

                <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
22.5pt;margin-left:0cm;line-height:22.5pt;background:white'><b><span
                        style='font-size:15.0pt;font-family:"Open Sans",sans-serif;color:#333333'>Grau|Semestres|ECTS</span></b>
                </p>

                <p class=MsoNormal style='margin-bottom:22.5pt;background:white'><span
                        style='font-size:11.5pt;font-family:"Open Sans",sans-serif;color:#333333'>|
Semestral&nbsp;| 6</span></p>

                <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
22.5pt;margin-left:0cm;line-height:22.5pt;background:white'><b><span
                        style='font-size:15.0pt;font-family:"Open Sans",sans-serif;color:#333333'>Ano |
Tipo de unidade curricular | Lingua</span></b></p>

                <p class=MsoNormal style='margin-bottom:22.5pt;background:white'><span
                        style='font-size:11.5pt;font-family:"Open Sans",sans-serif;color:#333333'>1&nbsp;|Obrigatório&nbsp;|Português</span>
                </p>

                <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
22.5pt;margin-left:0cm;line-height:22.5pt;background:white'><b><span
                        style='font-size:15.0pt;font-family:"Open Sans",sans-serif;color:#333333'>Código</span></b></p>

                <p class=MsoNormal style='margin-bottom:22.5pt;background:white'><span
                        style='font-size:11.5pt;font-family:"Open Sans",sans-serif;color:#333333'>ULHT260-7336</span>
                </p>

                <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
22.5pt;margin-left:0cm;line-height:22.5pt;background:white'><b><span
                        style='font-size:15.0pt;font-family:"Open Sans",sans-serif;color:#333333'>Disciplinas
complementares recomendadas</span></b></p>

                <p class=MsoNormal style='margin-bottom:22.5pt;background:white'><span
                        style='font-size:11.5pt;font-family:"Open Sans",sans-serif;color:#333333'>Matematica/
Mathematics</span></p>

                <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
22.5pt;margin-left:0cm;line-height:22.5pt;background:white'><b><span
                        style='font-size:15.0pt;font-family:"Open Sans",sans-serif;color:#333333'>Pré-requisitos
e co-requisitos</span></b></p>

                <p class=MsoNormal style='margin-bottom:22.5pt;background:white'><span
                        style='font-size:11.5pt;font-family:"Open Sans",sans-serif;color:#333333'>Não
aplicável</span></p>

                <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
22.5pt;margin-left:0cm;line-height:22.5pt;background:white'><b><span
                        style='font-size:15.0pt;font-family:"Open Sans",sans-serif;color:#333333'>Estágio
profissional</span></b></p>

                <p class=MsoNormal style='margin-bottom:22.5pt;background:white'><span
                        style='font-size:11.5pt;font-family:"Open Sans",sans-serif;color:#333333'>Não</span></p>

                <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
22.5pt;margin-left:0cm;line-height:22.5pt;background:white'><b><span
                        style='font-size:15.0pt;font-family:"Open Sans",sans-serif;color:#333333'>Conteúdos
Programáticos</span></b></p>

                <p class=MsoNormal style='margin-bottom:22.5pt;background:white'><span
                        style='font-size:11.5pt;font-family:"Open Sans",sans-serif;color:#333333'>Sistemas
de unidades, grandezas e dimensões. Movimento unidimensional e bidimensional<br>
Leis de Newton. Trabalho. Energia potencial. Conservação da energia mecânica.
Centro de<br>
massa. Colisões. Momento de uma força e momento de inércia. Momento
angular.Gravidade.<br>
Leis de Kepler. Lei da gravitação de Newton.Equilíbrio estático e elasticidade.
Tensão e<br>
deformação.Oscilações. Lei de Coulomb. Campo Elétrico. Potencial Elétrico.
Corrente elétrica e Resistência elétrica.</span></p>

                <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
22.5pt;margin-left:0cm;line-height:22.5pt;background:white'><b><span
                        style='font-size:15.0pt;font-family:"Open Sans",sans-serif;color:#333333'>Objetivos</span></b>
                </p>

                <p class=MsoNormal style='margin-bottom:22.5pt;background:white'><span
                        style='font-size:11.5pt;font-family:"Open Sans",sans-serif;color:#333333'>O
objetivo da aprendizagem dessa UC é dar ao aluno a capacidade de descrever,
analisar e<br>
resolver problemas relacionados com alguns fenómenos elementares da
mecânica/eletricidade, incluindo<br>
ondas e vibrações. Alem disso, introduzir os conceitos básicos de mecânica
clássica com<br>
ênfase na resolução de problemas para lhe servir de base para sua formação
profissional.</span></p>

                <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
22.5pt;margin-left:0cm;line-height:22.5pt;background:white'><b><span
                        style='font-size:15.0pt;font-family:"Open Sans",sans-serif;color:#333333'>Metodologias
de ensino e avaliação</span></b></p>

                <p class=MsoNormal style='margin-bottom:22.5pt;background:white'><span
                        style='font-size:11.5pt;font-family:"Open Sans",sans-serif;color:#333333'>A
metodologia de ensino baseia-se em aulas teóricas e aulas práticas. Nas aulas
teóricas são<br>
apresentados os conceitos e fundamentação teórica com alguns exemplos. Nas
aulas práticas<br>
são resolvidas fichas de trabalho, disponibilizadas com antecedência aos
alunos, &nbsp;pelo docente e alunos.</span></p>

                <p class=MsoNormal style='margin-bottom:22.5pt;background:white'><span
                        style='font-size:11.5pt;font-family:"Open Sans",sans-serif;color:#333333'>A
avaliação consiste em duas frequencia e um trabalho pratico&nbsp;.</span></p>

            </div>

            </body>
        </div>
    </section>
{% endblock %}